div.home{
    position:relative; 
    width: 100vw;
    height: 100vh;
    overflow:hidden;
    background-image: url("../src/nightsky.png");
    background-size: cover;
    &>h1{
        position:absolute;
        mix-blend-mode: soft-light;
        width: max-content;
        line-height: 8rem;
        font-size: 12rem;
        left: 32px;
        bottom: 128px;
}
}
div.menuBar{
    position:sticky;
    display: flex;
        flex-direction: row;
        justify-content:left;
    z-index: 1;
    top: 0;
    margin: -60px 0 0 0;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 2em;
    width: 100vw;
    height: 60px;
    & a{
        display: block;
        position: relative;
        padding: 8px 24px 8px 24px;
        background-color: rgba(255, 255, 255, 0);
        min-width: max-content;
        overflow: hidden;
        font-size: 100%;
        text-decoration: none;
        &:hover{
            background-color: rgba(255, 255, 255, 0.2);
        }
        &:active{
            background-color: rgba(255, 255, 255, 0.4);
        }
    }
}
div.aboutUs{
    position: relative;
    display: block;
    width: 100vw;
    height: 60vh;
    padding: 64px;
    font-size: 1rem;
    background-color: var(--layer00);
    background-image: 
    linear-gradient(0deg,rgba(from var(--layer00) r g b /0.8),20%, rgb(from var(--layer00) r g b /0.1)),
    url("../src/studio.png");
        
    background-size: cover;
    & p{
        font-size: 1em;
        width:clamp(30em, 80%, 60em);
    }

}
div.purpose{
    position: relative;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    width: 100vw;
    height: max-content;
    padding: 64px;
    font-size: 1rem;
    background-color: var(--layer04);
    & h2{
        font-size: 1.8em;
    }
    & p{
        text-align: center;
        width: 30em;
    }
}
div.news{
    position: relative;
    display: block;
    width: 100vw;
    height: max-content;
    padding: 64px;
    font-size: 1rem;
    background-color: var(--layer03);
}
div.contacts{
    position: relative;
    display: block;
    width: 100vw;
    height: 500px;
    padding: 64px;
    font-size: 1rem;
    background-color: var(--layer02);
    background-image:
        linear-gradient(0deg,rgba(from var(--layer01) r g b /0.9),10%, rgba(from var(--layer01) r g b /0.1),90%, rgba(from var(--layer01) r g b /0.9)),
        url("../src/fightSong.png");
    background-size: cover;
    & div.contactList{
        position: relative;
        display: flex;
            column-gap: 64px;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 32px;
        & a{
            flex: 0 1 160px;
        }
        & img{
            width: 100%;
            height: 100%;
        }
    }
    
}
div.supportUs{
    position: relative;
    display: block;
    width: 100vw;
    height: max-content;
    padding: 64px;
    font-size: 1rem;
    background-color: var(--layer01);
    background-image: linear-gradient(0deg,rgba(from var(--layer02) r g b /0),20%, rgb(from var(--layer02) r g b /1));
    z-index: 1;
    overflow: hidden;
    &>div.supportList{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 32px;
        & a{
            flex: 0 1 160px;
        }
        & img{
            width: 100%;
            height: 100%;
        }
    }
}
div.dev{
    position: relative;
    display: block;
    width: 100vw;
    height: max-content;
    padding: 64px;
    font-size: 1rem;
    background-color: var(--layer01);
    background-image: linear-gradient(0deg,rgba(from var(--layer03) r g b /0),10%, rgb(from var(--layer03) r g b /0.5));
    z-index: 1;
    
    & .devRow{
        position: relative;
        display: flex;
            flex-direction: row;
            justify-content: space-between;
        padding: 4px;
        margin: 16px;
        width: 100%; 
        border-radius: 32px;
        background-color: rgba(from var(--layer01) r g b /1);
    }
    & input{
        flex: 1 1 0;
        padding: 16px;
        border-radius: 32px;
        outline: none;
        background-color: transparent;
    }
    & button{
        padding: 16px;
        background-color: rgba(from var(--layer02) r g b /1);
        border-radius: 32px;
        &:hover{
            filter: brightness(200%);
        }
    }
}
video{
    position: absolute;
        left: 0;
        top: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter:brightness(70%);
    overflow: hidden;
}
footer{
    position:relative;
    display: flex;
        flex-direction: row;
        justify-content: space-between;
    background-color: var(--layer00);
    color: #ecf0f1;
    font-style: italic;
    padding: 20px;
    width: 100%;
    & p{
        color: #ecf0f1;
    }
    & .contact-links a{
        text-decoration: none;
    }
}
@media (min-width: 600px) {

}
